<%= link_to 'Back', pins_path %>

<div class="row">
  <div class="col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @pin.image.url(:large) %>
      </div>
      <div class="panel-body">
        <p><strong><%= @pin.title %></strong> by
        <strong><%= @pin.user.firstname if @pin.user %></strong></p>
        <p><%= @pin.description %></p>
         
        <strong>Rental</strong></br>
         Daily Rs:<strong><%= @pin.daily %></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         Weekly Rs:<strong><%= @pin.weekly %></strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Monthly Rs:<strong> <%= @pin.monthly %></strong></br></br>



        <% if current_user && @pin.user == current_user %>
          <%= link_to edit_pin_path(@pin) do %>
        <span class="glyphicon glyphicon-edit"></span>
        Edit
      <% end %>
      <%= link_to @pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
              Delete
            <% end %>
        <% end %>

      </div>
    </div>
  </div>

  <!--testing purposes-->
  <div class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading center">
        <%= image_tag @pin.user.avatar.url(:medium) %>
      </div>
      <div class="panel-body">
        
        <strong><%= @pin.user.firstname if @pin.user %></strong></p>
        <p><%= @pin.user.about %></p>


        <%if user_signed_in?%>
        <p><center><%= link_to "Send Request",new_order_path , class: "btn btn-primary btn-lg" %></center></p>
        <%else%>
        
        <p><center>
          <h2>To send request</h2>
          <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
        </center></p>
        <%end%>
        
         
        

        

      </div>
    </div>
  </div>
</div>