<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @order.subject %>
</p>

<p>
  <strong>Name:</strong>
  <%= @order.user.firstname %>
</p>

<p>
  <strong>Urldata</strong>
  <%= @order.urldata %>
</p>





<p>
  <strong>Content:</strong>
  <%= @order.content %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
